[Unit]
Description=Raspberry Pi security alarm
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/hebron/rpi-alarm/
ExecStart=/usr/bin/python /home/hebron/rpi-alarm/alarm.py
Restart=on-failure
User=hebron

[Install]
WantedBy=default.target
